/VCEWeb/packages
/VCEWeb/VCEWeb/bin/*.dll
/VCEWeb/VCEWeb/bin/*.json
/VCEWeb/VCEWeb/bin/*.pdb
/VCEWeb/VCEWeb/bin/release/*
/VCEWeb/VCEWeb/obj
error/Error.txt
/error
/VCEWeb/VCEWeb/.vs
*.dll
*.pdb
*.exe
/VCEService/VCE.Business/obj
/VCEService/VCE.DAL/obj
/VCEService/VCE.Shared/obj
/VCEService/VCE.Utility/obj
/VCEService/VCE.Business/bin
/VCEService/VCE.DAL/bin
/VCEService/VCE.Shared/bin
/VCEService/VCE.Utility/bin
/.vs/cip_253_Code_Engine/v17/.wsuo
